#contenedor{
    float: left;
    width: 100%;
    
}

.card{
    margin-top: 7.5%;
    margin-left: 15%;
    float: left;
    width: 70%;
}

#button{
    float: right;
    margin: 3px;
}



.over{
    color: black;
    background-color: rgb(25, 235, 235);
}

.Novalido{
    border: 1px solid red;
    
}

.unvalid-text{
    color: red;
}

.oscuro{
    background-color: rgb(126, 126, 126);
}

