.card{
    margin-top: 2.5%;
    margin-left: 25%;
    float: left;
    width: 50%;
}

#button{
    float: right;
}

.over{
    background-color: rgb(25, 235, 235);
}
#contenedor{
    float: left;
    width: 100%;
}

.invalid{
    border: 2px solid red;
}

.oscuro{
    background-color: rgb(126, 126, 126);
    color: white;
}